body {
    font-family: 'Source Code Pro', monospace;
    background-image: url("images/background.jpeg"); 
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: white;
    height: 60%;
    font-size: 60px;
     
    
}

nav img{
    height: 80%;
    width: auto;
}

.container {
    
    display: flex;
    
    flex-direction: column;
    
}

.align {
    display: flex;
}

card {

    align-self: center;
    background-color: grey; 
    padding: 3rem;
    border: 2px whitesmoke;
    border-radius: 1rem;
    justify-content: center;
    margin-top: 300px;
}

card .pbox {
    background-color: white;
}